h1 {
  color: #6fdae7;
  font-family: Impact, Haettenschweiler, sans-serif;
  padding: 20px;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid grey;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: grey;
}
#city-input {
  background-color: #f9f7fe;
  border: none;
  padding: 8px;
}
#button,
#current {
  background-color: #885df1;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 7px 10px;
}
#button {
  background-color: #885df1;
}
#current {
  background-color: #fc83a8;
  border: none;
  padding: 7px 10px;
  text-align: center;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 70px;
  width: 70px;
}
strong {
  color: black;
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 15px;
}
#units {
  position: relative;
  font-size: 16px;
  top: -15px;
}
.all-columns {
  margin: 40px;
}
